<h1 class="main-title">Daily Rowan</h1>

<% if @daily_photo.present? %>
  <div class="daily-photo">
    <a href="<%= url_for(@daily_photo.image) %>"
       data-lightbox="daily-photo"
       data-title="<%= @daily_photo.date.strftime('%B %d, %Y') %>"
     >
      <%= image_tag @daily_photo.image, class: "photo #{@daily_photo.orientation}" %>
    </a>
  </div>
<% end %>

<% if @last_five.any? %>
  <div class="last-five">
    <p class="recent-photos">Recent Photos</p>
    <div class="photo-container">
      <% @last_five.each_with_index do |dp, index| %>
        <div class="previous-photo photo">
          <a href="<%= url_for(dp.image) %>"
             data-lightbox="previous-photo-<%= index %>"
             data-title="<%= dp.date.strftime('%B %d, %Y') %>"
          >
            <%= image_tag dp.image, class: "#{dp.orientation}" %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
